{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Марьяна!</h1>

    <h2>Давайте знакомиться </h2>
      <p>
Расскажу немного о себе. Мне 24 года и я только сейчас поняла, что хочу быть программистом.
Сначала мне было очень тяжело, ничего не получалось и я расстраивалась.
Но на помощь пришел Яндекс Практикум и курс о программирование на Python. 
И чем дольше я здесь учусь, понимаю, я на правильном пути.

      </p>
      

{% endblock %}